@import url('https://fonts.googleapis.com/css?family= Lora | Open + Sans '); 

* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

html {
    font-size: 14px;
    font-size: 100%;
    -web-kit-font-size-adjust: 100%;
    overflow:hidden;
}

body {
    font-family: 'Lora', 'times new roman', serif;
    overflow-y:scroll;
}

.titulo, .subtitulo {
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-weight: 600;
    line-height: 1.5;
}
.titulo {
    color: #0f5b30;
    text-shadow: 0.5px 0.5px 0 hsl(0, 0%, 0%);
    font-size: 1.5em;
}
.subtitulo {
    color: hsl(0, 0%, 0%);
    font-size: 1.2em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #553100;
    font-weight: 600;
}

a:hover {
    color: #0f5b30;
    text-decoration: none;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding: 3px 20px;
}

.divisao {
    border: 1px solid #003d1a;
}

.hidden {
    display: none;
}

.margin20 {
    margin-top: 20px;
}

.topo, .rodape {
    height: 231px;
    background-image: url(../imagens/topo.png);
    background-color: #aaa939;
    background-position: -40px 0px;
}

.menu {
    background-color: hsla(59, 50%, 45%, 0.85);
    position: relative;
    top: 1px;
    padding: 3px 0;
}

.menu .group-menu li {
    float: left;
}
.menu .group-menu {
    list-style: none;
    margin: 0 auto;
}
.menu a.navbar-brand, .rodape a.linkrodape {
    font-family: 'Open Sans', arial, verdana, sans-serif;
    color: #FFF;
    font-weight: 600;
    padding: 3px 25px;
}
.menu a.navbar-brand:hover, .rodape a.linkrodape:hover {
    color: #553100;
}

.topo > a:first-of-type {
    padding-bottom: 0;
    margin-left: 40px;
    padding-top: 0px;
}

.rodape {
    height: auto;
    text-align: center;
    color: #FFF;
    font-size: 1em;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    clear:both;
}

.rodape .filter {
    background-color: hsla(59, 50%, 45%, 0.85);
    padding: 20px 0;
}

.rodape  ul {
    list-style: none;
}

.rodape  ul li {
    display: inline-block;
}

.rodape address, .rodape address ul {
    margin-bottom: 4px; 
}

.rodape  small {
    clear: both;
}

.servicos {
    padding: 30px 0;
}

.servico .icon {
    background-color: #553100;
    color: #FFF;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.servico > .subtitulo {
    margin-top: 15px;
    color: #553100;
}

.servico a:hover  h2 {
    text-decoration: none;
    color: #0f5b30;
}
.servico a:hover .icon {
    background-color: #0f5b30;
}

.objetivosPag {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.objetivosPag .texto-pag {
    float: right;    
    max-width: 33%;
    text-align: center;
    padding: 0 2%;
}

.objetivosPag .img-pag {
    max-height: 293px;
    width: 63%;
    /*opacity: 0.5;*/
    clear: both;
}

.lista {
    text-align: center;
    padding: 1%;
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.25);
}

.sumario {
    position: fixed;
}

.sumario ul {
    list-style: none;
}

.pagServico .iconPet {
    margin-left: auto; 
    margin-right: auto; 
    color: #003d1a;
}

.form-control:focus {
    border-color: #28794c;
    box-shadow: 0 0 0 0.2rem hsla(147, 50%, 32%, 0.25);
}

.produto {
    height: 290px;
    box-shadow: 0px 0px 1px hsla(0, 0%, 0%, 0.5);
}

.img-produto {
    max-height: 199px;
}

.produto .ProTamImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 199px;
    margin-bottom: 10px;
}
